.dart_tool/
.packages
.pub/
build/
**/*.g.dart
**/*.freezed.dart
.idea/
*.iml
.vscode/
android/.gradle/
android/local.properties
android/app/*.keystore
android/app/*.jks
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
web/generated_plugin_registrant.dart
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
*.log
.DS_Store
*.ipa
*.aab
*.p8
*.cer
*.mobileprovision

flutter/
.flutter-plugins
.flutter-plugins-dependencies
android/key.properties

# ignore Flutter SDK
flutter/
